.content {
  position: relative;
  top: 104px;
}
.content__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
.arrival-heading strong {
  font-size: 1.2rem;
  letter-spacing: 1px;
  color: #1b1919;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 40px;
  padding: 5px 30px;
  border: 1px solid #e0e0e0;
}
.arrival-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.arrival-heading strong {
  color: #ffffff;
  background-color: #202020;
  font-weight: 500;
}
.arrival-heading p {
  color: #ffffff;
  margin: 10px;
  font-size: 0.9rem;
}
.product-container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.product-box {
  display: flex;
  flex-grow: 0.5;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  margin: 20px;
}
.product-img {
  width: 200px;
  height: 210px;
  margin: 20px;
  cursor: pointer;
  position: relative;
}
.product-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.product-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  border-top: 1px solid #f3f3f3;
}
.p-name {
  color: #fff;
  text-decoration: none;
}
.p-price {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
}
.product-box:hover {
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  transition: 0.3s all ease;
}
.add-cart {
  position: absolute;
  right: -20px;
  top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #0b9d8a;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  display: none;
  animation: fade 0.3s;
}
.add-cart:hover {
  background-color: #f76b6a;
  transition: all ease 0.2s;
}
.product-box:hover .add-cart {
  display: flex;
}
.new-arrival {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
