.content {
  margin-top: 80px;
}
.content__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.content__column {
  flex: 50%;
}
.content__img {
  background: url(/assets/img/87c761e43b10c94e9001.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}
.footer {
  height: 120px;
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer .social > a:hover {
  opacity: 0.9;
}
