:root {
  --background: rgba(0, 139, 218, 0.85);
}

*,
*::before,
*after {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  background: rgba(0, 139, 218, 0.85);
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}
.header {
  text-align: center;
  position: relative;
  width: 100%;
  z-index: 999;
  top: 0;
  background-color: var(--background);
}

.header__brand {
}

.header__nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background);
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

.header__nav--list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__nav--items {
  margin-bottom: 1em;
  margin-left: 1em;
}

.header__nav--items-link {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.header__nav--items-link:hover {
  color: #333;
}

.header__toggle:checked ~ .header__nav {
  transform: scale(1, 1);
}

.header__toggle:checked ~ .header__nav a {
  transition: opacity 250ms ease-in-out 250ms;
  opacity: 1;
}

.header__toggle {
  display: none;
}

.header__toggle--label span,
.header__toggle--label span::before,
.header__toggle--label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.header__toggle--label span::before,
.header__toggle--label span::after {
  content: "";
  position: absolute;
}

.header__toggle--label span::before {
  bottom: 7px;
}

.header__toggle--label span::after {
  top: 7px;
}

.header__toggle--label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 800px) {
  .header__toggle--label {
    display: none;
  }
  .header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
  }
  .header__brand {
    grid-column: 1 / 3;
  }

  .header__nav {
    all: unset;
    grid-column: 3/4;
    display: flex;
    align-items: center;
    width: 800px;
  }

  .header__nav--list {
    display: flex;
    padding-top: 12px;
  }

  .header__nav--items {
    margin-left: 3em;
    margin-bottom: 0;
  }

  .header__nav a {
    opacity: 1;
    position: relative;
  }
  .header__nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }

  .header__nav a:hover::before {
    transform: scale(1, 1);
  }
}
