* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}
.container {
  position: relative;
  top: 104px;
}
.container__background {
  position: absolute;
  background: url(/assets/img/background.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
}
.content {
  padding: 64px;
}

/* Clear floats */
.content__row:after {
  content: "";
  display: table;
  clear: both;
}

/* 2/3 column */
.content__column--66 {
  float: left;
  width: 66.66666%;
  padding: 20px;
}

/* 1/3 column */
.content__column--33 {
  float: left;
  width: 33.33333%;
  padding: 20px;
}

/* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
@media screen and (max-width: 1000px) {
  .content__column--66,
  .content__column--33 {
    width: 100%;
    text-align: center;
  }
}
